:root {
    --gold: #876732;
}

/* ------------------------------------ NAV HOVER ANIMATIONS ---------------------------------- */

.item a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.item a::before,
.item a::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
}

.item a::before {
    background-color: var(--gold);
    height: 2px;
    bottom: 0;

    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}


.item a::after {
    content: attr(data-toggle);
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);

    color: var(--gold);
    font-weight: inherit;
}

.item a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.item a:hover::after {
    transform: translate3d(0, 0, 0);
}

.item a span {
    display: inline-block;
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a:hover span {
    transform: translate3d(-200%, 0, 0);
}

/* ------------------------------------ BURGUER ---------------------------------- */

#nav-icon {
    width: 30px;
    height: 35px;
    position: relative;
    margin: 10px auto;
    /*border: 2px solid red;*/

    cursor: pointer;

    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

#nav-icon span {
    display: block;
    background: white;
    height: 4px;
    width: 50%;
    opacity: 1;

    position: absolute;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
}

#nav-icon span:nth-child(odd) {
    left: 0;
    border-radius: 8px 0 0 8px;

}

#nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 8px 8px 0;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
    top: 0;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
    top: 9px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
    top: 18px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
    top: 4px;
}

#nav-icon.open span:nth-child(2) {
    top: 4px;
}

#nav-icon.open span:nth-child(3) {
    transform: translateX(-50px);
    opacity: 0;
}

#nav-icon.open span:nth-child(4) {
    transform: translateX(50px);
    opacity: 0;
}

#nav-icon.open span:nth-child(5) {
    
}

#nav-icon.open span:nth-child(6) {
    
}