/* --------------------------- IMPORTAMOS FUENTES ------------------------ */

@font-face {
    font-family: AbhayaLibre;
    src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}

/* -------------------------------- VARIABLES ----------------------------- */

:root {
    --dark: #000000;
    --grey: #1D1A1A;
    --ligth: #FFFFFF;
    --crema: #D9D9D9;
}


/* -------------------------- VALORES GENERALES -------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    overflow-x: hidden;
    height: 100%;
    color: var(--ligth);
    background-color: var(--dark);
}

/* ------------------------------ NAV ------------------------------ */

.navcollapse {
    display: none;
}

.menu_mobile {
    display: none;
}

.logo {
    display: none;
}

header {
    width: 100%;
    height: 12vh;
    background-color: var(--dark);

    nav {

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;

            li a {
                text-decoration: none;
                color: var(--ligth);
                font-family: 'AbhayaLibre';
                font-weight: 400;
                font-size: clamp(1.25rem, 1.11rem + 0.533vw, 1.75rem);

                img {
                    width: 56px;
                    height: 88px;
                    margin-top: 20%;
                }
            }
        }
    }
}


/* ----------------------------- HERO ------------------------------- */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/Foto_hero_volteada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'AbhayaLibre';

    .hero-content {
        /*border: 2px solid red;*/
        width: 30%;
        position: absolute;
        top: 15%;
        left: 3%;

        .hero-text {
            text-align: center;

            .title {
                font-size: clamp(2rem, 1.3rem + 2.667vw, 4.5rem);
            }

            .phrase {
                font-size: clamp(1.125rem, 0.88rem + 0.933vw, 2rem);
                margin-bottom: 5%;
            }

            .redes {
                gap: 35px;
                margin-bottom: 5%;
                justify-content: center;
                display: flex;

                img {
                    width: 57px;
                    height: 57px;
                }
            }

            .boton {
                font-family: 'AbhayaLibre';
                background-color: transparent;
                border: 1px solid var(--crema);
                padding: 15px 18px;

                a {
                    text-decoration: none;
                    font-size: clamp(0.875rem, 0.805rem + 0.267vw, 1.125rem);
                    color: var(--ligth);
                }
            }

            .boton:hover {
                background-color: var(--ligth);
                border: 2px solid var(--dark);
                transform: scale(1.05);

                a {
                    text-decoration: none;
                    color: var(--dark);
                    letter-spacing: 1px;
                }
            }
        }
    }
}

/* ------------------------------------ ESSENCE --------------------------- */

.essence {
    width: 100%;
    height: auto;
    background-color: var(--dark);
    font-family: 'AbhayaLibre';

    .essence-content {
        display: flex;

        .essence-text {
            flex: 1;
            margin-left: 3%;
            /*border: 2px solid blue;*/

            .title {
                margin-top: 20%;
                margin-bottom: 5%;
                font-size: clamp(1.5rem, 1.08rem + 1.6vw, 3rem);
            }

            .text {
                width: 80%;
                font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                margin-bottom: 5%;
                line-height: 1.5;
                font-weight: 200;
            }

            .last-text {
                width: 80%;
                font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                margin-bottom: 10%;
                line-height: 1.5;
                font-weight: 200;
            }
        }

        .essence-img {
            flex: 1;
            margin-top: 16%;

            img {
                max-width: 100%;
                width: 812px;
                height: auto;
            }
        }
    }
}

/* --------------------------------------- HISTORY ---------------------------- */

.history {
    width: 100%;
    height: auto;
    background-color: var(--dark);
    font-family: 'AbhayaLibre';

    .history-content {

        .history-text {

            .title {
                text-align: center;
                padding-top: 5%;
                margin-bottom: 5%;
                font-size: clamp(1.5rem, 1.08rem + 1.6vw, 3rem);
            }

            .text {
                width: 55%;
                margin: 0 auto;
                font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                margin-bottom: 3%;
                line-height: 1.5;
                font-weight: 200;

            }

            .last-text {
                width: 55%;
                margin: 0 auto;
                font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                margin-bottom: 7%;
                line-height: 1.5;
                font-weight: 200;
            }
        }

        .history-img {
            text-align: center;

            img {
                max-width: 100%;
                width: 1000px;

                height: auto;
                margin-bottom: 5%
            }
        }
    }
}

/* --------------------------------- FOOTER -------------------------------- */

footer {
    width: 100%;
    height: auto;
    font-family: 'AbhayaLibre';

    .prin-footer {
        background-color: var(--grey);
        display: flex;

        .left-footer {
            flex: 1;
            text-align: center;
            margin: auto 0;

            img {
                width: 200px;
                height: 300px;
            }
        }

        .center-footer {
            flex: 1;
            text-align: center;
            margin-top: 3%;

            .title {
                text-align: center;
                margin-bottom: 5%;
                font-size: clamp(1.25rem, 0.97rem + 1.067vw, 2.25rem);
            }

            .redes {
                gap: 35px;
                margin-bottom: 12%;
                justify-content: center;
                display: flex;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .redes2 {
                gap: 35px;
                margin-bottom: 3%;
                justify-content: center;
                display: flex;

                img {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 2%;
                }
            }
        }

        .right-footer {
            flex: 1;
            text-align: center;
            margin-top: 3%;

            .title {
                text-align: center;
                margin-bottom: 5%;
                font-size: clamp(1.25rem, 0.97rem + 1.067vw, 2.25rem);
            }

            .pages {
                font-size: clamp(0.875rem, 0.7rem + 0.667vw, 1.5rem);
                margin-bottom: 8%;

                a {
                    text-decoration: none;
                    color: var(--ligth);
                }
            }
        }


    }

    .secoundary-footer {
        width: 100%;
        height: auto;
        background-color: var(--dark);
        display: flex;
        justify-content: space-around;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: clamp(0.5rem, 0.054rem + 1.19vw, 1.125rem);
        padding-top: 1.5%;
        padding-bottom: 1.5%;

        .left2 {
            display: flex;
            flex: 1;
            gap: 25px;
            margin-left: 4%;
        }

        .center2 {
            flex: 1;
            text-align: center;
        }

        .right2 {
            flex: 1;
            text-align: center;
        }
    }
}


/* ---------------------------- MEDIA QUERY ----------------------- */

@media screen and (max-width: 1200px) {

    .hero {

        .hero-content {
            /*border: 2px solid red;*/
            width: 50%;
            position: absolute;
            top: 12%;
            left: -1%;

            .hero-text {

                .redes {

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }


    .essence {

        .essence-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .essence-text {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-left: 0;

            }

            .essence-img {
                margin-top: 3%;
                margin-bottom: 8%;
            }
        }
    }


    .history {

        .history-content {

            .history-text {

                .text {
                    width: 80%;
                }

                .last-text {
                    width: 80%;
                }
            }
        }
    }

    footer {

        .prin-footer {

            .left-footer {

                img {
                    width: 130px;
                    height: 200px;
                }
            }

            .center-footer {

                .redes {

                    gap: 20px;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

                .redes2 {

                    gap: 20px;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    header {

        nav {

            ul {

                li a {

                    margin-top: 10%;

                    img {
                        width: 45px;
                        height: 70px;
                        margin-top: 20%;
                    }
                }
            }
        }
    }

    .history {

        .history-content {

            .history-img {

                margin-bottom: 8%;

            }
        }
    }

    footer {

        .prin-footer {

            .left-footer {

                img {
                    width: 90px;
                    height: 140px;
                }
            }
        }

        .secoundary-footer {

            .left2 {
                flex: 4;
            }

            .center2 {
                flex: 3;
            }

            .right2 {
                flex: 3;
            }
        }
    }


}

@media screen and (max-width: 480px) {

    #menu_on {
        display: none;
    }

    .logo {
        display: block;

        img {
            width: 50px;
            height: auto;
            margin-left: 10%;
            margin-top: 2%;
        }
    }

    nav .navcollapse {
        display: inline-block;
        z-index: 999;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .menu_mobile {
        display: block;
        position: absolute;
        top: 0vh;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;

        backdrop-filter: blur(25px);

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        animation: grow-down .5s ease-in-out;
        animation-fill-mode: forwards;

        .logo-m {
            text-align: center;

            img {
                max-width: 30%;
            }

            .brand-m {
                margin: 1rem auto;
                margin-top: 10%;
                margin-bottom: 10%;
                font-family: AbhayaLibre;
                font-size: 36px;
            }

        }

        #menu_mobile_nav {
            list-style-type: none;

            li {
                width: 100%;
                text-align: center;

                a {
                    font-size: 1.4rem;
                    color: var(--ligth);
                    margin-top: 10%;
                    margin-bottom: 15%;
                    font-family: AbhayaLibre;
                    font-size: 24px;
                }
            }
        }



    }

    .grow {
        animation: grow-up .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes grow-up {
        from {
            height: 0%;
        }

        to {
            height: 100%;
        }
    }

    @keyframes grow-down {
        from {
            height: 100%;
        }

        to {
            height: 0%;
        }
    }


    .hero {
        background-image: url(assets/img/Foto_hero_responsive.jpg);

        .hero-content {
            width: 90%;
            top: 8%;
            left: 5%;

            .hero-text {

                .title {
                    font-size: 42px;
                    margin-bottom: 3%;
                }

                .phrase {
                    font-size: 18px;
                    margin-bottom: 8%;
                }

                .redes {
                    gap: 30px;
                    margin-bottom: 8%;

                    img {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }


    .essence {

        .essence-content {

            .essence-text {
                margin-left: 3%;

                .title {
                    margin-bottom: 8%;
                    font-size: 32px;
                }

                .text {
                    width: 95%;
                    line-height: 1.8;
                }

                .last-text {
                    width: 95%;
                    line-height: 1.8;
                }
            }

            .essence-img {
                margin-top: 8%;
            }
        }
    }


    .history {

        .history-content {

            .history-text {

                .title {
                    padding-top: 10%;
                    margin-bottom: 8%;
                    font-size: 32px;
                }

                .text {
                    width: 95%;
                    padding-left: 3%;
                    line-height: 1.8;
                    margin-top: 5%;

                }

                .last-text {
                    width: 95%;
                    padding-left: 3%;
                    line-height: 1.8;
                    margin-top: 5%;
                    margin-bottom: 15%;
                }
            }

            .history-img {

                img {
                    margin-bottom: 10%
                }
            }
        }
    }


    footer {

        .prin-footer {
            flex-direction: column;

            .left-footer {

                img {
                    width: 130px;
                    height: 200px;
                    margin-top: 10%;
                    margin-bottom: 10%;
                }
            }

            .center-footer {

                .title {
                    margin-bottom: 5%;
                    font-size: 28px;
                }

                .redes {
                    gap: 30px;
                    margin-bottom: 12%;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .redes2 {
                    gap: 30px;
                    margin-bottom: 12%;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .right-footer {

                .title {
                    margin-bottom: 8%;
                    font-size: 28px;
                }

                .pages {
                    font-size: 18px;
                    margin-bottom: 10%;
                }
            }


        }

        .secoundary-footer {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            padding-top: 5%;
            padding-bottom: 5%;

            .left2 {
                display: flex;
                justify-content: space-around;
                gap: 0;
                margin-bottom: 5%;
            }

            .center2 {
                flex: 1;
                text-align: center;
                margin-bottom: 5%;
            }

            .right2 {
                flex: 1;
                text-align: center;
            }
        }
    }

}