/* --------------------------- IMPORTAMOS FUENTES ------------------------ */

@font-face {
    font-family: AbhayaLibre;
    src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}

/* -------------------------------- VARIABLES ----------------------------- */

:root {
    --dark: #000000;
    --grey: #1D1A1A;
    --ligth: #FFFFFF;
    --crema: #D9D9D9;
}


/* -------------------------- VALORES GENERALES -------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    overflow-x: hidden;
    height: 100%;
    color: var(--ligth);
    background-color: var(--dark);
}

/* ------------------------------ NAV ------------------------------ */

.navcollapse {
    display: none;
}

.menu_mobile {
    display: none;
}

.logo {
    display: none;
}

header {
    width: 100%;
    height: 12vh;
    background-color: var(--dark);

    nav {

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;

            li a {
                text-decoration: none;
                color: var(--ligth);
                font-family: 'AbhayaLibre';
                font-weight: 400;
                font-size: clamp(1.25rem, 1.11rem + 0.533vw, 1.75rem);

                img {
                    width: 56px;
                    height: 88px;
                    margin-top: 20%;
                }
            }
        }
    }
}

/* ----------------------------------- HERO ------------------------------ */

.hero {
    width: 100%;
    height: 65vh;
    background-image: url(assets/img/feliz-joven-chef-con-equipo-de-cocina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'AbhayaLibre';

    .hero-text {
        position: absolute;
        top: 45%;
        left: 10%;

        .title {
            font-size: clamp(2rem, 1.3rem + 2.667vw, 4.5rem);
        }
    }
}


/* ------------------------------- TEAM --------------------------------- */

.chefs {
    width: 100%;
    height: auto;
    background-color: var(--dark);
    font-family: 'AbhayaLibre';

    .chef-text {
        margin: 0 auto;
        padding-top: 5%;
        text-align: center;

        .title {
            font-size: clamp(1.5rem, 1.08rem + 1.6vw, 3rem);
            margin-bottom: 3%;
        }

        .phrase {
            font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
            line-height: 1.5;
            width: 42%;
            margin: 0 auto;
            margin-bottom: 7%;
            font-weight: 200;
        }
    }

    .chef-card {
        display: flex;
        justify-content: space-around;

        .card {
            background-color: var(--grey);
            padding: 2% 3%;
            text-align: center;

            img {
                display: block;
                width: 371px;
                height: 556px;
                margin-bottom: 2%;
            }

            .name {
                font-size: clamp(1.25rem, 0.9rem + 1.333vw, 2.5rem);
                font-weight: 300;
                margin-bottom: 1%;
            }

            .tipo {
                font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
                margin-bottom: 3%;
                font-weight: 200;
            }

            .redes {
                display: flex;
                justify-content: center;
                gap: 4%;

                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}

.waiters {
    width: 100%;
    height: auto;
    background-color: var(--dark);
    font-family: 'AbhayaLibre';

    margin: 0 auto;
    padding-top: 5%;
    text-align: center;

    .title {
        font-size: clamp(1.5rem, 1.08rem + 1.6vw, 3rem);
        margin-bottom: 3%;
        padding-top: 3%;
    }

    .phrase {
        font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
        line-height: 1.5;
        width: 43%;
        margin: 0 auto;
        margin-bottom: 7%;
        font-weight: 200;
    }

    img {
        max-width: 100%;
        width: 900px;
        height: auto;
        margin-bottom: 5%;
    }
}


/* --------------------------------- FOOTER -------------------------------- */
footer {
    width: 100%;
    height: auto;
    font-family: 'AbhayaLibre';

    .prin-footer {
        background-color: var(--grey);
        display: flex;

        .left-footer {
            flex: 1;
            text-align: center;
            margin: auto 0;

            img {
                width: 200px;
                height: 300px;
            }
        }

        .center-footer {
            flex: 1;
            text-align: center;
            margin-top: 3%;

            .title {
                text-align: center;
                margin-bottom: 5%;
                font-size: clamp(1.25rem, 0.97rem + 1.067vw, 2.25rem);
            }

            .redes {
                gap: 35px;
                margin-bottom: 12%;
                justify-content: center;
                display: flex;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .redes2 {
                gap: 35px;
                margin-bottom: 3%;
                justify-content: center;
                display: flex;

                img {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 2%;
                }
            }
        }

        .right-footer {
            flex: 1;
            text-align: center;
            margin-top: 3%;

            .title {
                text-align: center;
                margin-bottom: 5%;
                font-size: clamp(1.25rem, 0.97rem + 1.067vw, 2.25rem);
            }

            .pages {
                font-size: clamp(0.875rem, 0.7rem + 0.667vw, 1.5rem);
                margin-bottom: 8%;

                a {
                    text-decoration: none;
                    color: var(--ligth);
                }
            }
        }


    }

    .secoundary-footer {
        width: 100%;
        height: auto;
        background-color: var(--dark);
        display: flex;
        justify-content: space-around;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: clamp(0.5rem, 0.054rem + 1.19vw, 1.125rem);
        padding-top: 1.5%;
        padding-bottom: 1.5%;

        .left2 {
            display: flex;
            flex: 1;
            gap: 25px;
            margin-left: 4%;
        }

        .center2 {
            flex: 1;
            text-align: center;
        }

        .right2 {
            flex: 1;
            text-align: center;
        }
    }
}


/* ---------------- MEDIA QUERY ----------------- */
@media screen and (max-width: 1200px) {

    .chefs {

        .chef-text {

            .phrase {
                width: 60%;
            }
        }

        .chef-card {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .card {
                width: 45%;
                margin-bottom: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    margin-bottom: 4%;
                }


                .redes {
                    margin-top: 1%;
                    gap: 20%;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }


    .waiters {


        .phrase {
            font-size: clamp(1rem, 0.86rem + 0.533vw, 1.5rem);
            line-height: 1.5;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 7%;
            font-weight: 200;
        }

        img {
            max-width: 100%;
            width: 900px;
            height: auto;
            margin-bottom: 5%;
        }
    }

    footer {

        .prin-footer {

            .left-footer {

                img {
                    width: 130px;
                    height: 200px;
                }
            }

            .center-footer {

                .redes {

                    gap: 20px;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

                .redes2 {

                    gap: 20px;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    header {

        nav {

            ul {

                li a {

                    margin-top: 10%;

                    img {
                        width: 45px;
                        height: 70px;
                        margin-top: 20%;
                    }
                }
            }
        }
    }

    .chefs {

        .chef-text {

            .phrase {
                width: 80%;
            }
        }

        .chef-card {

            .card {
                width: 60%;

                img {
                    margin-bottom: 4%;
                }

                .name {
                    margin-bottom: 2%;
                }

                .redes {
                    gap: 12%;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

    .waiters {

        .phrase {
            width: 80%;
        }

        img {
            margin-bottom: 10%;
        }
    }


    footer {

        .prin-footer {

            .left-footer {

                img {
                    width: 90px;
                    height: 140px;
                }
            }
        }

        .secoundary-footer {

            .left2 {
                flex: 4;
            }

            .center2 {
                flex: 3;
            }

            .right2 {
                flex: 3;
            }
        }
    }

}


@media screen and (max-width: 480px) {

    #menu_on {
        display: none;
    }

    .logo {
        display: block;

        img {
            width: 50px;
            height: auto;
            margin-left: 10%;
            margin-top: 2%;
        }
    }

    nav .navcollapse {
        display: inline-block;
        z-index: 999;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .menu_mobile {
        display: block;
        position: absolute;
        top: 0vh;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;

        backdrop-filter: blur(25px);

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        animation: grow-down .5s ease-in-out;
        animation-fill-mode: forwards;

        .logo-m {
            text-align: center;

            img {
                max-width: 50%;
            }

            .brand-m {
                margin: 1rem auto;
                margin-top: 10%;
                margin-bottom: 10%;
                font-family: AbhayaLibre;
                font-size: 36px;
            }

        }

        #menu_mobile_nav {
            list-style-type: none;

            li {
                width: 100%;
                text-align: center;

                a {
                    font-size: 1.4rem;
                    color: var(--ligth);
                    margin-top: 10%;
                    margin-bottom: 15%;
                    font-family: AbhayaLibre;
                    font-size: 24px;
                }
            }
        }



    }

    .grow {
        animation: grow-up .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes grow-up {
        from {
            height: 0%;
        }

        to {
            height: 100%;
        }
    }

    @keyframes grow-down {
        from {
            height: 100%;
        }

        to {
            height: 0%;
        }
    }
}